<?
	global $siteList;
	$ptitle = "その他の機能";
	$title = "会場マスタ";
?>
<!DOCTYPE html>
<html lang="ja">
<head>
	<? include("common/template/meta.html"); /* 共通META */ ?>
	<title><?= $title ?></title>
</head>
<body>
<div class="page-wrap">
	<? include("common/template/header.html"); /* 共通Header */ ?>
	<? include("common/template/menu.html"); /* 共通Menu */ ?>
	<main class="contents">
		<h1><?= $title ?></h1>
		<section>
			<h2>会場編集</h2>
			<form id="editForm" name="editForm" method="post" action="">
			<div class="w100p row">
				<div>■編集内容を保存</div>
				<div class="w50p"></div>
				<div class="w25p"><input type="button" class="w100p" name="dataSave" id="dataSave1" value="保存"></div>
			</div>
			<div>
				<table style="width:100%">
				<tr style="background-color:#eee;"><th style="width:5%">No</th><th style="width:40%">会場名</th><th style="width:40%">エリア名</th></tr>
				<? foreach($siteList as $rec) { ?>
					<? $no = $rec['SITE_NO']; ?>
					<input type="hidden" name="s[<?= $no ?>][SITE_ID]" value="<?= $rec['SITE_ID'] ?>">
					<input type="hidden" name="s[<?= $no ?>][SITE_NO]" value="<?= $no ?>">
					<tr>
						<th nowrap style="text-align:center"><span style="color:blue"><?= $no ?></span></th>
						<td><input style="width:95%" type="text" name="s[<?= $no ?>][SITE_NAME]" value="<?= $rec['SITE_NAME'] ?>"></td>
						<td><input style="width:95%" type="text" name="s[<?= $no ?>][AREA_NAME]" value="<?= $rec['AREA_NAME'] ?>"></td>
					</tr>
				<? } ?>
				</table>
			</div>

			<div class="w100p row">
				<div>■編集内容を保存</div>
				<div class="w50p"></div>
				<div class="w25p"><input type="button" class="w100p" name="dataSave" id="dataSave2" value="保存"></div>
			</div>
			</form>
		</section>
	</main>
	<? include("common/template/footer.html"); /* 共通Footer */ ?>
</div>
</body>
<script src="js/entry.js?dt=<?= date("YmdHis") ?>"></script>
</html>
