<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /nlp/dist/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /nlp/dist/index.html [L]
</IfModule>
