*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
  background-color: #000;
  font-family: "Noto Sans";
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// transition : fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.img-in-text{
  height: 1em;
  width: auto;
  vertical-align: middle;
}

b {
    font-weight: normal;
    border-bottom: .1em solid #c3002f;
}

// vue-js-modal

.v--modal{
  color: #333;
}
